# Dependencies
moviepy>=1.0.3
librosa>=0.10.0
soundfile>=0.12.1
openai>=1.78.1
openai-whisper>=20240930
pathlib>=1.0.1
# Numba/Whisper nécessite numpy <2.3
numpy>=2.2.0,<2.3.0
torch>=2.0.0,<2.5.0
numba>=0.61.2
tiktoken>=0.9.0
more-itertools>=10.7.0
tqdm>=4.66.0

# Development tools
black>=25.1.0
isort>=6.0.1
pytest>=8.3.5
flake8>=7.2.0
mypy>=1.15.0